{% extends "base.html" %}

{% block titill %} Login {% endblock %}

{% block content %}

    <div>
        <form action="" method="POST" class="ui form">
            {{form.hidden_tag()}}
            <div class="field">
                <label>Username</label> 
                {{form.username}}
            </div>
            <div class="field">
                <label>Password</label>
                Password {{form.password}}
            </div>

            <input class="ui button" type="submit" value="Log In">
        </form>


    </div>

{% endblock content %}
