{% extends "base.html" %}

{% block titill %} {{current_user.username }} - Profile {% endblock %}

{% block content %}

    <h1>Profile</h1>
    <div class="center-form">
        <span>Name</span>: {{current_user.name }} <br>
        <span>Username</span>: {{current_user.username }} <br>
        <span>Email</span>: {{current_user.email }} <br>
        <span>Picture filename</span>: {{current_user.profile_picture}} <br>
        <span>Bio</span>: {{current_user.bio }} <br><br><br>

        <a class="ui primary button" href="{{ url_for('edit_user')}}">user settings</a>
        <a class="ui button" href="{{ url_for('logout')}}">Log Out</a>
        {% if current_user.profile_picture == "n/a" %}
            <img src="{{ url_for('static', filename='img/default_profile_pic.jpg') }}" alt="deafult profile picture" width="200">
        {% else %}
            <img src="{{ url_for('static', filename='profile_data/'+current_user.id|string() + '_' + current_user.username+'/'+ current_user.profile_picture) }}" alt="deafult profile picture" width="200"> 
        {% endif %}
        
    </div>
    <div>
        <h1>My Clothing</h1>
        <div>
            {% for item in clothing%}
                <h3>{{item.type}}</h3>
                <img src="{{url_for('static',filename='clothes_images/'+ item.image_link)}}" alt="" >
                
            {% endfor %}
        </div>
    </div>
{% endblock content %}
