{% extends "base.html" %}

{% block titill %} What Should I Wear {% endblock %}

{% block content %}
    
    <div class="ui three column grid">
        {% for i in styles %}
            <div class="column">
                <div class="ui segment">
                    <a href=""><img src="{{ i['img'] }}" alt="" class="ui fluid rounded image"></a>
                </div>
            </div>
        {% endfor %}
    </div>

    <style>
        img:hover{
            opacity: 0.5;
        }
    </style>
{% endblock content %}